
<section class="d-flex bg-dark m-4 rounded flex-column justify-content-center align-items-center"
  style="width: 96rem; height: 95vh; padding: 1rem; margin: 1.5rem;">
  <h2 class="text-white mb-4 ">Entre em contato conosco</h2>
  <content class="d-flex flex-column w-50 h-15 mb-4">
    <form>
      <div class="mb-3">
        <label class="form-label text-white">Nome Completo</label>
        <input type="nome" class="form-control bg-transparent text-white border-light">
      </div>
      <div class="mb-3">
        <label class="form-label text-white">Endereço de Email</label>
        <input type="email" class="form-control bg-transparent text-white border-light">
      </div>

      <div class="mb-3">
        <label class="form-label text-white">Mensagem</label>
        <textarea class="form-control bg-transparent text-white border-light" rows="4"></textarea>
      </div>

      <button type="submit" class="btn btn-success">Enviar</button>
    </form> 
  </content>
</section>
