<section class="d-flex bg-dark m-4 rounded flex-column" style="width: 96rem; height: 95vh; padding: 1rem; margin: 1.5rem;">
    <h1 class="text-white mb-4 ">Bem Vindo ao FinTrack!</h1>
    <content class="d-flex flex-column w-50 h-15 mb-4">
        <form method="GET" class="input-group mb-3">
            <input type="text" class="form-control bg-transparent text-white border-light"
                placeholder="Pesquise uma ação pelo seu nome ou código" aria-label="Pesquisar ação">
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </content>
    <h3 class="text-white mb-4 ">Ações em Destaque</h3>
</section>