{% extends 'index.html' %}
{% load humanize %}

{% block title %}Ações Rentáveis{% endblock %}

{% block content %}
<meta charset="UTF-8">
<section class="d-flex bg-dark m-4 rounded flex-column"
  style="width: 94rem; height: 95vh; padding: 1rem; margin: 1.5rem;">
  <h2 class="text-white mb-4 ">Lista de Todas as Ações</h2>
  <content class="d-flex flex-column mb-4">
    {% if acoes %}
    <table class="table table-striped table-dark">
      <thead class="table-dark text-center">
        <tr>
          <th>Ticker</th>
          <th>Nome da Empresa</th>
          <th>Setor</th>
          <th>Variação Semanal (%)</th>
          <th>Mais informações</th>
        </tr>
      </thead>
      <tbody class="text-center align-middle">
        {% for acao in acoes %}
        <tr>
          <td>{{ acao.ticket }}</td>
          <td>{{ acao.nome_empresa }}</td>
          <td>{{ acao.setor }}</td>
          <td>
            {% if acao.variacao %}
            {{ acao.variacao|floatformat:2 }}%
            {% else %}
            —
            {% endif %}
          </td>
          <td>
            <a href="#" class="btn btn-sm btn-outline-primary"><i class="bi bi-list"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-warning text-center">Nenhuma ação cadastrada.</div>
    {% endif %}
    </div>
  </content>
</section>
{% endblock %}